@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Quicksand');


*{
    margin:0;
    padding:0;
}

body{
    background:#f9eee4;
    font-family:Georgia;
    font-size: 12px;
    font-style: bold;
    width:100%;
    height: 80%;
}
.section{
    display: grid;
    grid-template-columns: /*1280px 1280px 1280px;*/ 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666%;
    grid-template-rows: /*100%;*/7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923%;
/*    padding: 0px;
    margin:0px;
    bottom:0px;*/
    width:200vw;
/*    float:left;*/
    height:100%;
    text-shadow:1px 1px 2px #ffffff;
    background-color: #dddcdb;
    color:#ffffff;
}
.grid-item {
    border: 0px solid rgba(0, 0, 0, 0);
    text-align: center;
    color: rgb(0,0,0,0);
    opacity: 0.3;
}
#title {
    font-family: Quicksand;
    font-size: 120px;
    color: #2c1eba;
    text-shadow: 3px 3px 5px yellow;
    position:fixed;
    top:60px;
    right:48px;
}
#stripe {
    position: fixed;
/*    display: block;*/
    top:218px;
    right: -112px;
/*    left:1372px;*/
}
#description {
    font-family: Avenir;
    font-size: 30px;
    color: #2c1eba;
    text-shadow: 1px 1px 3px yellow;
    position:fixed;
    top:260px;
    right:48px;
    text-align: right;
}
#studiomode {
    font-family: Quicksand;
    height: 80px;
    width: 80px;
    background-color: #f9eee4;
    color: #2c1eba;
    position: fixed;
    top: 83vh;
    left:40vw;
/*  z-index: 1;*/
    box-shadow: 0px 0px 0px rgba(1,1,1,0.19);
    border-radius: 50%;
    border: 2px solid #2c1eba;
}
#synergize {
    font-family: Quicksand;
    height: 80px;
    width: 80px;
    background-color: #f9eee4;
    color: #2c1eba;
    position: fixed;
    top: 83vh;
    left:54vw;
/*  z-index: 1;*/
    box-shadow: 0px 0px 0px rgba(1,1,1,0.19);
    border-radius: 50%;
    border: 2px solid #2c1eba;
}
#placeholder1{
    height: 50px;
    width: 50px;
    background-color: #cccccc;
    position: fixed;
    top: 83vh;
    left:206px;
/*    z-index: 1;*/
}
#placeholder2{
    height:50px;
    width: 50px;
    background-color: #cccccc;
    position: fixed;
    top: 83vh;
    left:266px;
/*    z-index: 2;*/
}
#placeholder3{
    height:50px;
    width: 50px;
    background-color: #cccccc;
    position: fixed;
    top: 83vh;
    left:326px;
/*    z-index: 2;*/
}
#layer2 {
    height:96vh;
    width:98vw;
    background-color: #ffffff;
    position: fixed;
    top: 15px;
    left: 15px;
    opacity: 0.6;
    z-index: 5;
}
.hidden {
    opacity: 0;
}
.visible {
    opacity: 1;
}


@media screen and (max-device-width: 500px) and (orientation: portrait){
    .section{
        display: grid;
        grid-template-columns: /*1280px 1280px 1280px;*/ 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333% 3.3333%;
        grid-template-rows: /*100%;*/3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462% 3.8462%;
    }
    #studiomode {
        top: 84%;
        left: 40%;
        height: 125px;
        width: 125px;
    }
    #synergize {
        top: 84%;
        left: 54%;
        height: 125px;
        width: 125px;
    }
}

@media screen and (max-device-width: 980px) and (orientation: landscape){

    .section{
        display: grid;
        grid-template-columns: /*1280px 1280px 1280px;*/ 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666% 1.6666%;
        grid-template-rows: /*100%;*/7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923% 7.6923%;
        height:200vh;
    }
    #studiomode {
        top: 84%;
        left: 40vw;
        height: 125px;
        width: 125px;
    }
    #synergize {
        top: 84%;
        left: 54vw;
        height: 125px;
        width: 125px;
    }
}

@media screen and (max-width: 500px) and (max-device-width: 500px){

    #studiomode {
        top: 84%;
        left: 40%;
        height: 125px;
        width: 125px;
    }
    #synergize {
        top: 84%;
        left: 54%;
        height: 125px;
        width: 125px;
    }
    body {
        background-color: blue;
    }
}

