@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/background_ai.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  /*background: rgb(239, 239, 244);*/
  font-family: "Poiret One", sans-serif;
  text-align: center;
  width: 100%;
}

h1{
  font-size: 10vh;
  font-style: italic;
  animation-name: title;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes title {
  0% {
    color: #000da4;
  }
  16% {
    color: #ffd4c4;
  }
  20% {
    color: #000da4;
  }
  36% {
    color: #ffd4c4;
  }
  40%{
    color: #000da4;
  } 
  56% {
    color: #ffd4c4;
  }
  60% {
    color: #000da4;
  }
  76% {
    color: #ffd4c4;
  }
  80%{
    color: #000da4;
  }  
  96% {
    color: #ffd4c4;
  }
  100%{
    color: #000da4;
  } 
}

.container {
  background: rgba(255, 255, 255, 0);
  /*border-radius: 8px;*/
  margin: 64px auto 0;
  padding: 24px 0 32px;
  width: 1000px;
}

input {
  display: none;
}

form {
  margin-top: 63vh;
}

.label-button {
  
  height: 20px;
  width: 200px;
  background: #000da4;
  border-radius: 0px;
  color: #ffd4c4;
  display: table;
  margin: 16px auto 0;
  padding: 2px 6px;
  cursor: pointer;
}

.css
img {
  margin: 64px 0 16px;
  max-height: 192px;
}

p {
  color: #030da3;
  font-size: 8vh;
  background: #ffd4c4;
}